body{
	font-family:"Microsoft Yahei",微软雅黑,"Helvetica Neue",Arial,sans-serif;
	font-size:16px;
}
a{
	color: #777;
	text-decoration:none;
}
a:focus,
a:hover {
	color: #D8BFD8;
}
header{
	background:#fcfcfc;
	height:120px;
}
header .account{
	padding-right:200px;
	text-align:right;
	line-height: 40px;
	color:white;
	height:40px;
	background:#D8BFD8;
	
}
header .account>a{
	float:right;
	padding-right:50px;
	line-height: 40px;
	color:white;
	
}
header .logo{
	height:80px;
	background: url(../images/logo.png) left center no-repeat;
}

main{
	margin-top:10px;
}

main .search-go{
	float:right;
	margin-right:200px;
	padding:4px 15px;
	font-family:"Microsoft Yahei",微软雅黑,"Helvetica Neue",Arial,sans-serif;
	border:1px solid white;
	border-radius:3px;
	font-size:14px;
	color:white;
	background:#D2B48C;
	
}

main .search-go:hover{
	
	background:#D2B48C;
	
}
main .search{
	
	float:right;
	margin-right:20px;
	border:2px solid #D2B48C;
	border-radius:5px;
	font-size:14px;
	height:24px;
	width:200px;
	
	
}
main h3{
	text-align:center;
}
main table{
	
	margin:0 auto;
	border:2px solid #FFCCCC;
	width:500px;
	background-color:#FCFCFC
}
main table th{
	
	height:50px;
}
main table td{
	
	text-align:center;
	height:40px;
}
table1{
	border:0;
	float:left;
}
table1 td1{
	rowspan:8;
    width:270;
    align:center;
}
/*修改美食信息页面*/
/* 文件上传*/
.btn-file{overflow:hidden;position:relative;vertical-align:middle;}
.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
.fileupload{margin-bottom:9px;}.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
.fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;height:100%;}
.fileupload .btn{vertical-align:middle;}
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
.fileupload-inline .fileupload-controls{display:inline;}
.fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd;}
.control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
.control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
.control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
.control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
.control-group.error .fileupload .fileupload-preview{color:#b94a48;}
.control-group.error .fileupload .thumbnail{border-color:#b94a48;}
.control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
.control-group.success .fileupload .fileupload-preview{color:#468847;}
.control-group.success .fileupload .thumbnail{border-color:#468847;}


